h1{
   background-color: #e262a9;
   text-align: center;
}

form{
    width: 50%;
    display: block;
    margin: auto;
}

.botaocentralizado{
    margin: auto;
    display: block;
    font-size: 18px;
}