header{
    background-color: #e262a9;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #3d0275;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #a200ff;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 01.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #3d0275;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: black;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos li:active{
    border-color: black;
    
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos li img{
    height: 150px;
}

.coopyright{
    color: #110000;
    font-size: 13px;
    margin: 20px 0 0;
}

footer{
    text-align: center;
    background: url ;
    background-color: #e262a9;

}