body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: #3a0824;
    background-color: #e262a9;
    padding: 50px;
    margin: 0px;
}

.titulo2{
    color: #3a0824;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.principal{
background-color: #e262a9;
padding: 30px;
margin: 0px;
}

.beneficios{
    background-color: #e262a9;
    padding: 30px;
    margin: 0px;

}